<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <button routerLink="/Crear/0" class="btn btn-success">Agregar Lugar</button>
      <hr>
      <ng-container *ngFor="let lugar of lugares">
        <ul class="list-group">
          <li class="list-group-item">
            {{lugar.nombre}}
            <button routerLink='' class="pull-right btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            <button routerLink="/Crear/{{lugar.id}}" class="pull-right btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="pull-right btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>