<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <button routerLink="/Crear/0" class="btn btn-success">Agregar Lugar</button>
      <hr>
      <ng-container *ngFor="let lugar of lugares">
        <ul class="list-group">
          <li class="list-group-item">
            <a routerLink=''>{{lugar.nombre}}</a>
            <div class="pull-right">
                <button routerLink="/Crear/{{lugar.id}}" class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>