<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div-->
<!-- navBar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"> Home <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</nav>
<!-- end navBar! -->

